

body{
    background-color: grey;
    font-family:'Roboto', sans-serif;
}


#juego{
    height: 500px;
    width: 500px;
    background-color: black;
    margin: auto;
    margin-top: 30px;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/sky.png");
    border-radius: 10px;
}

.suelo{
    background-color:rgb(40, 118, 75);
    width: 500px;
    height: 50px;
    position: relative;
    top: 300px;
    border-bottom: 10px;
    
}

#dino{
    height: 50px;
    width: 30px;
    background-color:#fdddca;
    position: relative;
    left: 50px;
    top:370px; 
    z-index: 3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.ojos{
    width: 30px;
    height: 10px;  
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
   
}
.ojo{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
}
.ojo1{
    margin-left: 5px;
}

.pupila{
    border-radius: 50px;
    background-color: black;
    width: 5px;
    height: 5px;
    align-self: center;
    margin-left: 5px;
}

.boca{
    width: 20px;
    height: 2px;
    background-color: black;
    margin-top: 10px;
    margin-left: 5px;
    display:flex;
}
.bocaabierta{
    width: 20px;
    height: 10px;
    background-color:#22201f;
    margin-top: 10px;
    margin-left: 5px;
    display:flex;
    border: 2px solid black;
    border-radius: 20px;
}

#cactus{
    height: 50px;
    width: 50px;
    position: relative;
    left: 480px;
    top:320px;
    z-index: 1;
    display: flex;
    justify-content: center;
    animation: animacion 1.3s infinite linear;

}
.cuerpo{
    height: 50px ;
    width: 14px;
    background-color: rgb(23, 164, 23);
    border-radius: 20px;
    z-index: 2;
}
.brazos{
    height: 10px;
    width: 50px;
    border-radius: 20px;
    background-color:rgb(23, 164, 23);
    position: relative;
    top:13px;
    right: 17px;
}

.contador{
    height:50px;
    width: 100px;
    background-color: none  ;
    margin-left: 200px;
    text-align: center;
    padding-top: 25px;
    color: white;
    font-size: 40px;
    z-index: 5;
    
   
}

.sombreropre10{
display: none;
}

.sombrero{
    display: flex;
    flex-direction: column; 
    position:relative;  
    width: 50px;
    height: 50px;
    top :150px;
    animation: animacion2 1.3s infinite linear;
}

.sombreropuesto{
    position: relative;
    left: 49px;
    top: 200px ;
    width: 35px;
    height: 35px;
    z-index: 5;

}
.tubo{
    display:flex;
    width: 70px;
    height: 500px;
    background-color: none  ;
    position : relative;
    left: 500px;
    top: -164px;
    animation: animacion 2s infinite linear;
    
   
}
.tubov{
display: flex;
}

.displaynone{
    display: none;
}

.agujero{
    display: flex;
    width: 70px;
    height: 150px;
    background-color: none;
    position: relative;
    left:500px;
    top:-470px;
    animation: animacion 2s infinite linear;
    z-index: 2;
   
}
.agujeroprueba{
    display: flex;
    width: 70px;
    height: 150px;
    background-color: blue;
    position: relative;
    left:500px;
    top:-815px;   
    z-index: 2;
   
}


@keyframes animacion{
    0%{left:500px}
    100%{left:0px}
}

@keyframes animacion2{
    0%{left:580px}
    100%{left:80px}
}
.agujero{
    display: flex;
    width: 70px;
    height: 150px;
    background-color: none;
    position: relative;
    left:500px;
    top:-470px;
    animation: animacion 2s infinite linear;
    z-index: 2;
   
}
.agujeroprueba{
    display: flex;
    width: 70px;
    height: 150px;
    background-color: blue;
    position: relative;
    left:500px;
    top:-815px;   
    z-index: 2;
   
}


@keyframes animacion{
    0%{left:500px}
    100%{left:0px}
}

@keyframes animacion2{
    0%{left:580px}
    100%{left:80px}
}
